{% load staticfiles %}

<html>
  <head>
    <title>システムサイバネティクス専攻　単位計算</title>
	<link rel="stylesheet" href="{% static 'css/calcstyle1.css' %}">
  </head>
  <body>
		<p id="tabcontrol">
   			<a href="#tabpage1">前期</a>
   			<a href="#tabpage2">後期</a>
    	</p>

    <div id="tabbody">
      <div id="tabpage1">
					<form action="" method="POST">
						{% csrf_token %}
						<!-- 普段の時間割表 -->
					<TABLE BORDER="10">
					<TR> 
						<TH>時間/曜日</TH> 
						<TH>月曜日</TH> 
						<TH>火曜日</TH>　
						<TH>水曜日</TH>　
						<TH>木曜日</TH>　
						<TH>金曜日</TH>
					</TR>
					
					<TR> 
						<TD>1コマ</TD>
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD>  
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD> 
					</TR>
				
					<TR> 
						<TD>2コマ</TD>
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD>  
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD> 
					</TR>
				
					<TR> 
						<TD>3コマ</TD>
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD>  
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD> 
					</TR>
				
					<TR> 
						<TD>4コマ</TD>
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD>  
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD> 
					</TR>
				
					<TR> 
						<TD>5コマ</TD>
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD>  
						<TD>{{ form  }}<br>{{ form }}</TD> 
						<TD>{{ form  }}<br>{{ form }}</TD> 
					</TR>
					</TABLE>

					<!-- 集中講義の時間割 -->
      		<br><br>
      		<TABLE BORDER="10">
					<TR>
	  				<TH>集中講義</TH>
						<TH>{{ form  }}<br>
								{{ form  }}<br>
								{{ form  }}<br>
								{{ form  }}<br>
								{{ form  }}
						</TH>
					</TR>
					</TABLE>
			</div>
			
      <div id="tabpage2">
							{% csrf_token %}
							<!-- 普段の時間割表 -->
						<TABLE BORDER="10">
						<TR> 
							<TH>時間/曜日</TH> 
							<TH>月曜日</TH> 
							<TH>火曜日</TH>　
							<TH>水曜日</TH>　
							<TH>木曜日</TH>　
							<TH>金曜日</TH>
						</TR>
						
						<TR> 
							<TD>1コマ</TD>
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD>  
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD> 
						</TR>
					
						<TR> 
							<TD>2コマ</TD>
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD>  
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD> 
						</TR>
					
						<TR> 
							<TD>3コマ</TD>
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD>  
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD> 
						</TR>
					
						<TR> 
							<TD>4コマ</TD>
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD>  
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD> 
						</TR>
					
						<TR> 
							<TD>5コマ</TD>
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD>  
							<TD>{{ form  }}<br>{{ form }}</TD> 
							<TD>{{ form  }}<br>{{ form }}</TD> 
						</TR>
						</TABLE>
	
						<!- 集中講義の時間割 ->
						<br><br>
						<TABLE BORDER="10">
						<TR>
							<TH>集中講義</TH>
							<TH>{{ form  }}<br>
									{{ form  }}<br>
									{{ form  }}<br>
									{{ form  }}<br>
									{{ form  }}
							</TH>
						</TR>
						</TABLE>
			</div>
	</div>	
	

		<button class="button1" type="submit" onclick="return confirm('前期、後期ともに登録しましたか。')"> 
			登録
		</button>	
    </form>
    
  <script type="text/javascript" src="{% static 'javascript/calc.js' %}"></script>
  </body>
</html>
