<html>
  <body>
    <form action="" method="POST">
      {% csrf_token %}

      <TABLE BORDER="10">
	<TR> 
	  <TH>時間/曜日</TH> 
	  <TH>月曜日</TH> 
	  <TH>火曜日</TH>　
	  <TH>水曜日</TH>　
	  <TH>木曜日</TH>　
	  <TH>金曜日</TH>
	</TR>
	
	<TR> 
	  <TD>1コマ</TD>
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD>  
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	</TR>

	<TR> 
	  <TD>2コマ</TD>
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD>  
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	</TR>

	<TR> 
	  <TD>3コマ</TD>
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD>  
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	</TR>

	<TR> 
	  <TD>4コマ</TD>
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD>  
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	</TR>

	<TR> 
	  <TD>5コマ</TD>
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD>  
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	  <TD>{{ form  }}<br>{{ form }}</TD> 
	</TR>

	
	<CAPTION>前期の時間割</CAPTION> 
      </TABLE>

      <P>
      <TABLE BORDER="10">
	<TR>
	  <TH>集中講義</TH>
	  <TH>{{ form  }}<br>
	      {{ form  }}<br>
	      {{ form  }}<br>
	      {{ form  }}<br>
	      {{ form  }}
	  </TH>
	 </TR>
      </TABLE>




      <br>
      <br>
      <input type="submit" style="width:5%;padding:50px;font-size:30px;" value="登録"/>
    </form>
  </body>
</html>
